.hero-unit
  %h1 Community Board
  %p Created as an example for #{link_to "Client / Server Team-up: Pairing Ruby on Rails with iOS", "http://www.tokyorubyistmeetup.org/events/2814"}, an event organized by #{link_to "Tokyo iOS Meetup", "http://www.meetup.com/TokyoiOSMeetup/"} and #{link_to "Tokyo Rubyist Meetup", "http://www.tokyorubyistmeetup.org"}. Participants in the event will add a REST API to this Ruby on Rails application, and then modify an existing iPhone application to consume the API.
  %p The idea of the app itself is a simple message board, where people can post messages in different communities.
  - unless user_signed_in?
    %p
      = link_to "Login", new_user_session_path, class: "btn btn-primary"
      = link_to "Register", new_user_registration_path, class: "btn"

- (@communities + [:create_yours]).each_slice(4) do |row|
  .row
    - row.each do |c|
      .span3
        .community
          - if c == :create_yours
            .community-new= link_to "Create your own community!", new_community_path
          - else 
            = link_to c do
              = image_tag "https://lorempixel.com/500/350/?id=#{c.id}"
              .community-name
                %span= c.name
%small(style="margin-top: 20px; display: inline-block") Community photos are randomly generated from #{link_to "Lorem Pixel", "http://lorempixel.com/"}.
