!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Community Board"
    = csrf_meta_tags
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"


  %body
    .github-fork-ribbon-wrapper.right-bottom
      .github-fork-ribbon
        = link_to "Fork me on GitHub", "https://github.com/tokyo-rubyist-meetup/community_board_rails"
    .navbar.navbar-static-top
      .navbar-inner
        .container
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand(href=root_path) Community Board
          .container.nav-collapse
            %ul.nav.pull-right
              - if user_signed_in?
                %li
                  = link_to edit_user_registration_path do
                    %i.icon-user
                    = current_user
                %li= link_to "Log out", destroy_user_session_path, method: :delete
              - else
                %li= link_to "Login", new_user_session_path

    .container#main
      = bootstrap_flash
      = yield
    
    = javascript_include_tag "application"
